* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Garamond, sans-serif;
}

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Set maximum width for slideshow */
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    max-width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide img {
    width: 100%; /* Ensure images fill their container */
    height: auto; /* Maintain aspect ratio */
    max-height: 400px; /* Set maximum height for uniformity */
    object-fit: cover; /* Scale images to cover container */
}

.biopic {

    width: 25%;
    height: auto;
    max-height: 400px;
    object-fit: cover;

}

/* Navigation arrows */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Thumbnails */
.thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail {
    margin: 0 5px;
    cursor: pointer;
}

.thumbnail img {
    width: 100px;
    height: auto;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.thumbnail img:hover {
    border-color: #333;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px 0;
}

section h2 {
    margin-bottom: 20px;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: bottom;
    bottom: 0;
    width: 100%;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.bio {
    display: flex;
    flex-wrap: wrap;
}

.leftPadding {
    margin-left: 60px;
}